@import '../../../../styles/variables.scss';

.container {
  background-image:
    linear-gradient($color-background-primary-overlay, $color-background-primary-overlay),
    url(../../../../images/background-overlav.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  padding-bottom: 125px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 40px;
  color: $color-white;
}

@media (min-width: $breakpoint-md) {
  .container {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}