@import '../../../../styles/variables.scss';

.container {
  padding-top: 0px;
  padding-bottom: 75px;
}

.plansRow {
  justify-content: center;
}

@media (min-width: $breakpoint-md) {
  .container {
    padding-bottom: 100px;
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    padding-bottom: 125px;
  }
}