@import '../../../../../../styles/variables.scss';

.container {
  margin-bottom: 1.5rem;
}

.fieldLabel {
  color: $color-text-light;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
}

.errorMessage {
  color: $color-error;
  font-size: 0.9rem;
  padding-left: 0.25rem;
  margin-top: 0.3rem;
}

