@import '../../../../../styles/variables.scss';

.container {
  background-color: $color-white;
  width: 100%;
  padding: 20px 15px;
  border-radius: 20px;
}

@media (min-width: $breakpoint-md) {
  .container {
    width: 80%;
    padding: 20px 25px;
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    padding: 20px 40px;
  }
}