// Layout
$max-width: 1400px;

// Colors
$color-background: #F6F9FC;
$color-background-white: #FFFFFF;
$color-background-primary-overlay: rgba(32, 113, 184, 0.95);
$color-primary: #2071B8;
$color-primary-dark: #0b5799;
$color-text: #54595F;
$color-text-light: #6C757D;
$color-text-placeholder: #B0B0B0;
$color-white: #FFFFFF;
$color-error: #ff0000;

$color-border: #d5d8dc;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
