// Layout
$max-width: 1400px;

// Colors
$color-background: #F6F9FC;
$color-primary: #2071B8;
$color-primary-dark: #0b5799;
$color-text: #54595F;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

