@import '../../../../styles/variables.scss';


.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  height: 60px;
  border-bottom: 1px solid $color-primary;
  width: 90%;
}

.navLink {
  color: $color-text;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.navLink:hover {
  color: $color-primary;
}

@media (min-width: $breakpoint-md) {
  .navbar {
    height: 70px;
  }
}

@media (min-width: $breakpoint-lg) {
  .navbar {
    height: 90px;
  }
}